# Environment variables / secrets
.env
.idea/
.env.*
*.env
ngrok_recovery_codes.txt
# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
__init__.py
# Virtual environments
.venv/
venv/
env/

matches/

# Plots / generated outputs
plots/
*.png
*.jpg
*.jpeg
*.pdf

# Logs
*.log

# Local config
*.local

# Ignore Volleybot folder
Volleybot/

# Ignore match videos
vidoes/
*.mp4
*.wav

#Ignore rally segmentator stuff
rally_segmentator/runs/
rally_segmentator/models_dir/
rally_segmentator/anchored_matches/

#Ignore archive
archive/



Vision/data/
Vision/dataset/
Vision/runs

*.pt
*.pkl

*.txt


